body{
    background-color: black;
    
}
.button{
    height: 50px;
    width: 100px;
    background-color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid black;
    color: gray;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover{
    color: white
}
h1{
    color: white;
}
p{  
    color: white;
}
.center{
    margin: auto;
    text-align: center;
}

.twitterborder{
    width:300px;
    height:300px;
    margin-top:500px;
    margin-right:5%;
    float: right;
    text-align: center;
}
.twitter-timeline{
    position: relative;
    top: 40px;
    left: 40px;
    width: attr(data-width);
    height: attr(data-height);
    margin: auto;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}

.text-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}
/*
.head-main{
    position: relative;
    height: 95vh;
    background-size: cover;
    background-position: top;
    background-image: url(../img/capicon/old_computer.jpg);
}
*/
.heading-primary{
    
    text-transform: uppercase;
}

.heading-primary-main{
    display: block;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 15px;
    font-family: "VT323", monospace;
    line-height: 1.7;
    color: #45b80b;
    padding: 30px;
    animation: main-text-animation 1s steps(13);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #45b80b;
    width: 17ch;
    
}

.heading-primary-sub{
    display: block;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 7.5px;
    font-family: "VT323", monospace;
    line-height: 1.7;
    color: #45b80b;
    padding: 30px;
    animation: sub-text-animation 2s steps(30);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #45b80b;
    width: 42ch;
    
}

@keyframes main-text-animation{
    0% {
        width: 0ch;
    }
    100% {
        width : 17ch;
    }
}

@keyframes sub-text-animation{
    0% {
        width: 0ch;
    }
    50% {
        width : 0ch;
    }
    100% {
        width : 42ch;
    }
}

.sidebar {
   position: fixed;
   width: 200px;
   height: 100%;
   margin-left: -200px;
   background: #151719;
   transition: .8s all; 
}

.side {
    margin-left: 0;
}
.sidebar ul li {
    color:rgba(230, 230, 230, .9);
    list-style: none;
    padding:15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    cursor: pointer;
}

.sidebar .toggle-button {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

.sidebar .toggle-button span {
    display: block;
    width: 30px;
    height: 5px;
    background: #45b80b;
    margin: 5px 0px;
    
}