
.button{
    background-color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid black;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}
.button:hover{
    background-color: white;
    color: black
}

.center{
    margin: auto;
    text-align: center;
}
.twitter-timeline{
  position: relative;
  right: 20px;
  bottom: 20px;
  width: attr(data-width);
  height: attr(data-height);
}
